* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  width: 90%;
  margin: 0 auto;
  background-image: url(/images/galaxy.gif);
}

header {
  margin: 20px auto;
  text-align: center;
  color: rgb(88, 255, 255);
}

fieldset {
  border: none;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

input {
  padding: 10px;
}
button {
  background-color: gray;
  border: gray;
  padding: 10px;
  font-weight: 800;
  color: white;
}

button:hover {
  background-color: rgb(167, 163, 163);
}
button:active {
  background-color: rgb(107, 101, 101);
}

select {
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  color: #888;
  text-align: center;
  padding: 10px;
  font-family: sans-serif;
}

.wrapper {
  background-color: rgba(177, 170, 170, 0.3);
  height: 60vh;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  color: white;
  position: relative;
}

.text {
  background-color: rgb(171, 159, 159, 0.3);
  text-align: center;
  color: white;
  padding: 30px;
  width: 40%;
  height: 140px;
  margin-right: 20px;
  visibility: hidden;
  position: absolute;
  right: 0;
}

.result {
  background-color: rgba(143, 131, 131, 0.5);
  color: white;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px auto;
  padding-left: 10px;
  font-size: 24px;
  border-radius: 70%;
}

.planet {
  font-weight: bold;
}

.warning-style {
  background-color: gray;
  width: 50%;
  text-align: center;
  font-style: italic;
  font-weight: 800;
  position: absolute;
  left: 25%;
}

.img-planet {
  width: 30%;
  height: auto;
  margin-right: 20px;
  position: relative;
  left: 15%;
}

@media (width <= 700px) {
  fieldset {
    display: grid;
  }
  .img-planet {
    display: flex;
    left: 30%;
    width: 40%;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .wrapper {
    display: grid;
    align-content: start;
    justify-content: center;
    flex-direction: column;
  }
  .text {
    justify-content: center;
    margin-top: 40px;
    position: relative;
    left: 20%;
  }
}

@media (width <= 400) {
  .img-planet {
    margin-bottom: 10px;
  }
  .text {
    margin-top: 10px;
  }
}
